/* BUTTON */

.btn {
  @apply bg-dark-900 text-primary;
  @apply flex justify-center items-center;
  @apply min-w-[205px] py-3 px-4 mx-2 rounded-xl;
  @apply cursor-pointer hover:bg-dark-700 transition-colors;
}

.btn p{
  @apply text-lg font-normal;
  @apply ml-4;
}

/* LIST TO DO */

.list {
  @apply bg-dark-900 hover:bg-dark-800 text-second-200 text-lg font-normal rounded-sm;
  @apply cursor-pointer relative;
  @apply w-full px-6 py-3 flex items-center justify-between;

  box-shadow: 0px 4px 4px rgba(17, 17, 28, 0.6);
}

.list .option-trash {
  @apply absolute left-0 top-0 w-2.5 h-full flex items-center justify-center;
  @apply hover:w-[4.375rem] hover:bg-dark-600 cursor-pointer ;
  @apply transition-all;

  background-color: rgba(99, 35, 41, 0.6);
}

.list .option-trash span {
  transition: opacity .2s linear;
}

/* CHECKBOX TO DO */

.to-do {
  @apply bg-dark-800 hover:bg-dark-700 text-second-200 text-lg font-normal rounded-sm;
  @apply w-full px-6 py-3 flex items-center justify-between;
}

.to-do .to-do-content {
  @apply flex items-center;
}

.to-do .to-do-content svg{
  @apply mr-4 cursor-pointer;
}

/* MENU OPTIONS TO DO */

.menu-options {
  @apply cursor-pointer hover:bg-dark-700 p-2 rounded-full relative;
}

.menu-toggle {
  @apply absolute right-4 rounded-sm py-2 min-w-[120px];
  @apply bg-dark-800;
}

.option {
  @apply flex items-center justify-start text-second-200 font-normal text-sm;
  @apply hover:bg-dark-700 w-full px-4 py-2;
}

.option svg {
  @apply mr-3;
}