/* CONTENT */

.container {
  @apply sm:px-8 px-0 pt-4 mt-4 max-w-[1440px] min-w-[100%];
}

/* BUTTON */

.btn {
  @apply bg-dark-900 text-primary;
  @apply flex justify-center items-center;
  @apply min-w-[205px] py-3 px-4 mx-2 my-1 rounded-xl;
  @apply cursor-pointer hover:bg-dark-700 transition-colors;
  @apply sm:text-lg text-md font-normal;
}

.btn svg {
  @apply mr-3;
}

/* TEXTAREA */

.textarea-input {
  @apply bg-transparent overflow-hidden outline-none leading-6 py-2 w-full;
}

/* LIST TO DO */

.list {
  @apply bg-dark-900 hover:bg-dark-800 text-second-200 sm:text-md text-sm font-normal rounded-sm;
  @apply relative;
  @apply w-full px-6 py-3 mb-5 flex items-center justify-between;

  box-shadow: 0px 4px 4px rgba(17, 17, 28, 0.6);
}

.list .option-trash {
  @apply absolute left-0 top-0 w-2.5 h-full flex items-center justify-center;
  @apply hover:w-[4.375rem] hover:bg-dark-600 cursor-pointer ;
  @apply transition-all;

  background-color: rgba(99, 35, 41, 0.6);
}

.list .option-trash span {
  transition: opacity .2s linear;
}

/* CHECKBOX TO DO */

.to-do {
  @apply bg-dark-800 hover:bg-dark-700 text-second-200 sm:text-md text-sm font-normal rounded-sm;
  @apply w-full px-6 py-3 mb-5 flex items-center justify-between;
}

.to-do .to-do-content {
  @apply flex items-center w-full;
}

/* CHECKBOX GRADIENT */

input[type="checkbox"] {
  -webkit-appearance: none;
  @apply pointer-events-none hidden;
}

.check {
  -webkit-tap-highlight-color: transparent;
  @apply cursor-pointer relative w-6 h-6 mr-4;
}

.check::before {
  content: '';
  @apply absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 w-12 h-12;
  @apply bg-dark-900 rounded-full opacity-0;
  transition: opacity .2s ease;
}

.check:hover::before{
  @apply opacity-50;
}

.check .svg-checkbox {
  @apply relative z-10;
}

.check .svg-checkbox .rect {
  stroke-dasharray: 115;
  stroke-dashoffset: 0;
}

.check .svg-checkbox .result {
  stroke-dasharray: 38;
  stroke-dashoffset: 38;
}

input[type="checkbox"].checked + .check .svg-checkbox .rect {
  stroke-dashoffset: 115;
  transition: all .3s linear;
}

input[type="checkbox"].checked + .check .svg-checkbox .result {
  stroke-dashoffset: 76;
  transition: all .2s linear;
  transition-delay: .15s
}

/* MENU OPTIONS TO DO */

.menu-options {
  @apply cursor-pointer hover:bg-dark-800 p-2 rounded-full relative;
}

.menu-toggle {
  @apply absolute right-4 rounded-sm py-2 min-w-[120px];
  @apply bg-dark-800;
}

.option {
  @apply flex items-center justify-start text-second-200 font-normal text-sm;
  @apply hover:bg-dark-700 w-full px-4 py-2;
}

.option svg {
  @apply mr-3;
}

/* TEXTS AND TITLES */

.title-header {
  @apply text-2xl text-second-100 font-semibold uppercase text-center;
}